@charset "UTF-8";


.gdm-wrapper {
  display: flex;
}

.gdm-nav,
.gdm-view {
  height: 100vh;
}

.gdm-nav {
  flex: 1 0 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.gdm-view {
  flex: 2 1 66%;
}

h1, h2{
  	font-family: $font;
    font-weight: bold;
    color: $primary;
    padding-top: 40px;
    padding-bottom: 20px;
  }

h1{
  color: $GreenLight;
  font-weight: bold;
}

ul{
	background-color: $GreenLight;
	padding: 20px;
  padding-left: 40px;
}

li{
	color: $white;
}

p{
	font-family: $font;
}